<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412057286922-ods0p36jf4dkl33f5qgpg5c9jrdsbe5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412057286922-ods0p36jf4dkl33f5qgpg5c9jrdsbe5l</string>
	<key>API_KEY</key>
	<string>AIzaSyD7lKh_alAAKMDqeD9r_TMvXQXDcw1hJzc</string>
	<key>GCM_SENDER_ID</key>
	<string>412057286922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebrainsgrp.nuvlemobile</string>
	<key>PROJECT_ID</key>
	<string>nuvle-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>nuvle-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412057286922:ios:ca977d257fa66a6f33e2f3</string>
	<key>DATABASE_URL</key>
	<string>https://nuvle-dev.firebaseio.com</string>
</dict>
</plist>